<form>
    <h2>Adăugare mașină</h2>
    <mat-form-field>
      <mat-label>Număr de înmatriculare</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Preț</mat-label>
      <input matInput type="number">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Model</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Descriere</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <br>
    <input type="file" (change)="getFile($event)">
    <button mat-raised-button color="primary">Adăugare</button>
</form>